<div>
    <!-- <label for="new-employee">Employee name: </label>
    <input id="new-employee" #employeeFirstName /> -->

    <!-- First Name -->
    <label for="first-name">First Name</label><br>
    <input id="first-name" #employeeFirstName placeholder="First Name"><br>

    <!-- Last Name -->
    <label for="last-name">Last Name</label><br>
    <input id="last-name" #employeeSecondName placeholder="Last Name"><br>

    <!-- Birth Date -->
    <label for="dob">Birth Date</label><br>
    <input id="dob " #employeeDob placeholder="DD/MM/YYYY"><br>

    <label for="telephone">Telephone</label><br>
    <input id="telephone" #employeeTelephone placeholder="Telephone"><br>

    <!-- Email -->
    <label for="email">Email</label><br>
    <input id="email" #employeeEmail placeholder="Email"><br>

    <!-- Marital Status -->
    <label for="maritalStatus">Marital Status</label><br>
    <input type="radio" name="maritalStatus" #employeeMaritalStatus (click)="employeeMaritalStatus.value='true'"
        id="maritalStatus">Yes<br>
    <input type="radio" name="maritalStatus" #employeeMaritalStatus (click)="employeeMaritalStatus.value='false'"
        id="maritalStatus">No<br>

    <!-- City -->
    <label for="city">City</label><br>
    <select id="city" #employeeCity>
        <option value="1">Colombo</option>
        <option value="2">Matara</option>
        <option value="3">Weligama</option>
        <option value="4">Galle</option>
        <option value="5">Jaffna</option>
    </select>
    <br>

    <!-- Remark -->
    <label for="remark">Remark</label><br>
    <input id="remark" #employeeRemark><br>


    <button class="add-button" (click)="add(
        employeeFirstName.value,
        employeeSecondName.value,
        employeeDob.value,
        employeeTelephone.value,
        employeeEmail.value,
        employeeMaritalStatus.value,
        employeeCity.value,
        employeeRemark.value
    ); employeeFirstName.value=''">
        Add employee
    </button>
    <button (click)="goBack()">Back</button>

</div>