<div *ngIf=employee>
    {{employee.firstName}}'s Details
    <div>
        <!-- First Name -->
        <label for="first-name">First Name</label><br>
        <input id="first-name" value="{{employee.firstName}}" placeholder="First Name"><br>

        <!-- Last Name -->
        <label for="last-name">Last Name</label><br>
        <input id="last-name" value="{{employee.lastName}}" placeholder="Last Name"><br>

        <label for="dob">Birth Date</label><br>
        <input id="dob" value="{{employee.dob}}" placeholder="Birth Date"><br>

        <!-- Birth Date -->
        <label for="telephone">Telephone</label><br>
        <input id="telephone" value="{{employee.telephone}}" placeholder="Telephone"><br>

        <!-- Email -->
        <label for="email">Email</label><br>
        <input id="email" value="{{employee.email}}" placeholder="Email"><br>

        <!-- Marital Status -->
        <label for="maritalStatus">Marital Status</label><br>
        <input type="radio" name="maritalStatus" id="maritalStatus">Yes<br>
        <input type="radio" name="maritalStatus" id="maritalStatus">No<br>

        <!-- City -->
        <label for="city">City</label><br>
        <select id="city" value='3'>
            <option value="1">Colombo</option>
            <option value="2">Matara</option>
            <option value="3">Weligama</option>
            <option value="4">Galle</option>
            <option value="5">Jaffna</option>
        </select>
        <br>

        <!-- Remark -->
        <label for="remark">Remark</label><br>
        <input id="remark" value="{{employee.remark}}"><br>

        <button>Add</button>
        <button>Cancel</button>
    </div>
</div>