<div *ngIf="employee" class="container">
    <div class="title">{{employee.firstName}}'s Details</div>

    <div class="card-container">
        <div class="cards">

            <!-- First Name -->
            <label for="first-name">First Name</label><br>
            <input id="first-name" value="{{employee.firstName}}" #employeeFirstName placeholder="First Name"><br>
        </div>
        <div class="cards">

        </div>
        <div class="cards">
            <!-- Last Name -->
            <label for="last-name">Last Name</label><br>
            <input id="last-name" value="{{employee.lastName}}" #employeeSecondName placeholder="Last Name"><br>

        </div>
        <div class="cards">
            <!-- Birth Date -->
            <!-- <label for="dob">Birth Date</label><br>
            <input id="dob" value="{{employee.dob}}" #employeeDob placeholder="Birth Date"><br> -->

            <input type="date" id="start" name="" #employeeDob value="{{employee.dob}}" min="1950-01-01"
                max="2020-12-31">

        </div>
        <div class="cards">
            <!-- Telephone -->
            <label for="telephone">Telephone</label><br>
            <input id="telephone" value="{{employee.telephone}}" #employeeTelephone placeholder="Telephone"><br>

        </div>
        <div class="cards">
            <!-- Email -->
            <label for="email">Email</label><br>
            <input id="email" value="{{employee.email}}" #employeeEmail placeholder="Email"><br>

        </div>
        <div class="cards">
            <!-- Marital Status -->
            <label for="maritalStatus">Marital Status</label><br>

            <!-- <input type="radio" #employeeMaritalStatus value="true" id="maritalStatus">Yes<br>
            <input type="radio" #employeeMaritalStatus value="false" name="maritalStatus" id="maritalStatus">No<br> -->

            <select name="" id="" #employeeMaritalStatus value={{employee.maritalStatus}}>
                <option value="-1">Select Marital Status</option>
                <option value="0">Single</option>
                <option value="1">Married</option>
            </select><br>

        </div>
        <div class="cards">

            <!-- City -->
            <label for="city">City</label><br>
            <select id="city" value="{{employee.city}}" #employeeCity>
                <option value="1">Colombo</option>
                <option value="2">Matara</option>
                <option value="3">Weligama</option>
                <option value="4">Galle</option>
                <option value="5">Jaffna</option>
            </select>

            <!-- <select id="city" #employeeCity>
                <option *ngFor="let city of cities" value="{{city.cityId}}">{{city.cityName}} </option>
            </select> -->

            <br>
        </div>

        <div class="cards">
            <!-- Remark -->
            <label for="remark">Remark</label><br>
            <input id="remark" #employeeRemark value="{{employee.remark}}"><br>

        </div>

        <div class="cards buttons">

            <button (click)="update(
                employeeFirstName.value,
                employeeSecondName.value,
                employeeDob.value,
                employeeTelephone.value,
                employeeEmail.value,
                employeeMaritalStatus.value,
                employeeCity.value,
                employeeRemark.value
            )" id="updateBtn">Add</button>

            <button (click)="goBack()" id="cancelBtn">Cancel</button>
            <button (click)="delete()" id="deleteBtn">Delete</button>
        </div>
        <app-message></app-message>
    </div>

</div>