<div class="all-container">
    <div class="title">All Employees </div>
    <app-employee-search></app-employee-search>
    <div class="container">
        <div class="emp-container">

            <div class="emp-card">
                <table>
                    <tr *ngFor="let employee of employees">
                        <div>
                            <td id="emp-name">
                                {{employee.firstName}} {{employee.lastName}}
                            </td>

                            <td><button id="editBtn" onclick="location.href()">
                                    <a routerLink="/detail/{{employee.id}}">Edit</a>
                                </button>

                            </td>
                            <td>
                                <button id="deleteBtn">
                                    <a (click)=delete(employee)>Delete</a>
                                </button>

                            </td>
                        </div>

                    </tr>
                </table>

            </div>

        </div>
    </div>

</div>