nav a{
    margin-left: 30px;
    text-decoration: none;
    color: white;
    transition: all 200ms ease;
}

nav a:hover{
    color: black;

}

nav{
    background-color: #00C8BA;
    height: 40px;
    display: flex;
    align-items: center;

}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 2%;
    margin-bottom:2%; */
    height: 100px;
    background-color:#F2F2F2  ;
}

*{
    font-family: SFMed; 
    margin:0;
    padding:0;   
}

@font-face{
    src: url(./../../assets/fonts/sf-pro-med.otf);
    font-family: "SFMed";
}

@font-face{
    src: url(./../../assets/fonts/sf-pro-thin.otf);
    font-family: "SFThin";
}
