.message-service{
    background-color: greenyellow;
    height: min-content;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    color: grey;
    transition: all 1000ms ease;
    animation:fadeIn 1000ms ease;
}
@keyframes fadeIn {
    from{
        height: 0;
    }to{
        height: 100%;
    }
}

