<div class="search-box">
    <label for="search-box">City</label>

    <select #searchBox name="" id="" (click)="search(searchBox.value)">
        <option value="1">Colombo</option>
        <option value="2">Matara</option>
        <option value="3">Weligama</option>
        <option value="4">Galle</option>
        <option value="5">Jaffna</option>
    </select>
    <div>
        <ul>
            <li *ngFor="let employee of employees$ |async">
                <a routerLink="/detail/{{employee.id}}">{{employee.firstName}} {{employee.lastName}} </a>
            </li>
        </ul>
    </div>
</div>