.search-box{
    display: flex;
    justify-content: right;
    width: 10vw;
    position: absolute;
    top: 30%;
    left: 10%;
    flex-direction: column;
}

ul{
    list-style-type: none; /* Remove bullets */
}

a{
    text-decoration: none;
    color: black;
}

li{
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-bottom: 7px;
    border-radius: 10px;
    transition: transfrom 300ms ease;
    
}

li:hover{
    transform: scale(1.03);
}

select{
    outline:none;
}